env/
data/newscorpus/
data/news-setopati/
nmf-practice.ipynb
# Jupyter Notebook specific
.ipynb_checkpoints/
*.ipynb_checkpoints/
*.ipynb_meta/
*.pkl

# Environment-specific
__pycache__/
.DS_Store
*.pyc
*.pyo
*.pyc/
*.pyo/


# test files
backend/test/
backend/__pycache__
notebook/image.png
backend/generated_info/
requirements-backup.txt